header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  border: 1px solid black;
}

.bio-container {
  margin: 0 10%;
  height: 20em;
  display: flex;
  align-items: center;
}

.bio-image {
  display: block;
  max-height: 20em;
  min-width: 15em;
  width: auto;
  height: auto;
}

.bio-blurb {
}

h2 {
  text-align: center;
}

.project-container {
  height: 20em;
  display: flex;
  align-items: center;
}

.project-blurb {
  margin: 0 2em;
}

.project-links {
  margin: 0 2em;
}

.project-screenshot {
  max-width: 30em;
  height: auto;
}
