* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color:  #D3F6DB;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  border: 1px solid black;
}

.bio-container {
  margin: 0 10%;
  height: 20em;
  display: flex;
  align-items: center;
}

.bio-image {
  display: block;
  max-height: 20em;
  min-width: 15em;
  width: auto;
  height: auto;
}

.bio-blurb {
}

h2 {
  text-align: center;
}

.recent-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container {
  width: 90%;
  height: 20em;
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 0 2em;
  margin: 2px 0;
}

.project-blurb {
  margin: 0 2em;
}

.project-links {
  margin: 0 1em;
}

.project-screenshot {
  min-width: 400px;
  height: auto;
}
